@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f6f7f7;
}
.animate-image{
  animation: bounce 6s infinite linear;
}
@keyframes bounce {
  0%,100%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-50px);
  }
}